<header>
    <h1 id="site_title">
        <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
    </h1>
    {% if site.theme_config.show_description == true %}
      <p>{{ site.description }}</p>
    {% endif %}
    <nav id="header_navigation">
      <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}/about"   class="header_link">about</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/posts"   class="header_link">posts</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/contact" class="header_link">contact</a></li>
      </ul>
    </nav>
</header>
  