<header>
    <h1 id="site_title"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
    {% if site.theme_config.show_description == true %}
      <p>{{ site.description }}</p>
    {% endif %}
    <nav id="header_navigation">
      <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}/about">about</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/posts">posts</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/contact">contact</a></li>
      </ul>
    </nav>
</header>
  