$text-color-main: rgb(215, 215, 215);
$text-color-quiet: rgb(215, 215, 215, 0.7);

body {
    background: #17181a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $text-color-main;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

// text selection/ mouse drag click over text
::selection {
    background: rgba(133, 241, 255, 0.25);
}

.wrapper {
    max-width: 640px;
    margin: 4rem auto;
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 { line-height: 2rem; }

h1 { font-size: 2.00rem;}
h2 { font-size: 1.75rem;}
h3 { font-size: 1.50rem;}
h4 { font-size: 1.25rem;}
h5 { font-size: 5rem;}
h6 { font-size: 5rem;}

a {
    color: $text-color-quiet;
    text-decoration: none;
}

a:hover{
    color: $text-color-main;
}

hr {
    text-align: center;
    border: 0;

    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
}

table, th, td {
    border: thin solid black;
    border-collapse: collapse;
}

h1#site_title {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}
    h1#site_title a {
        color: $text-color-quiet;
        text-decoration:none;
    }

    h1#site_title a:hover{
        color: $text-color-main;
    }

// div#post_header {}
    div#post_header p{ 
        opacity: 0.7;
        margin: 0;
    }

div#post_footer {
    width: 100%;
    padding: auto;
    text-align: center;
}
    div#post_footer a{
        display: inline;
        text-align: center;
        margin: 0 auto;
    }

ul#post_list {
    list-style-type: none;
    padding: 0;
}
    ul#post_list li:not(:last-child){
        padding: 10px 0;
        margin: 0;
        border-bottom: 2px solid rgb(51, 51, 51);
    }
    ul#post_list li h3,
    ul#post_list li p,
    ul#post_list li a{
        padding: 0.125rem 10px;
        margin: 0;
    }

    ul#post_list li p.post_description{
        color: $text-color-quiet;
    }

    ul#post_list li a{
        color: $text-color-main;
        opacity: 1;
        padding: 0;
        margin: 0;
    }

    ul#post_list li a:hover{
        text-decoration:underline;
    }

nav#header_navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    nav#header_navigation ul li{
        margin: 0 10px;
        display: inline;
    }
